# FinCompass Requirements
pandas
numpy
sqlalchemy
scipy
statsmodels
scikit-learn
plotly
streamlit
python-docx
openpyxl
APScheduler
langchain
langchain-community
langchain-google-genai
chromadb
Faker
matplotlib
seaborn
python-dotenv
